######### Firebase Config #########
VUE_APP_FIREBASE_API_KEY=
VUE_APP_FIREBASE_AUTH_DOMAIN=
VUE_APP_FIREBASE_STORAGE_BUCKET=
VUE_APP_FIREBASE_DB_URL=
VUE_APP_FIREBASE_PROJECT_ID=
VUE_APP_FIREBASE_MESSAGING_SENDER_ID=
VUE_APP_FIREBASE_APP_ID=

######### i18n Config #########
VUE_APP_I18N_LOCALE="en"
VUE_APP_I18N_FALLBACK_LOCALE="en"

######### Cloud Functions URL #########
VUE_APP_CLOUD_FUNCTIONS_URL=
# VUE_APP_CLOUD_FUNCTIONS_URL="http://127.0.0.1:5002/ruxailab-develop/us-central1"

######### Third-party URLs #########
LARAVEL_PDF= # e.g. http://localhost:8000/api/endpoint

######### Eye Lab URLs #########
VUE_APP_EYE_LAB_BACKEND_URL=
VUE_APP_EYE_LAB_FRONTEND_URL=
# VUE_APP_EYE_LAB_BACKEND_URL="http://127.0.0.1:3000"
# VUE_APP_EYE_LAB_FRONTEND_URL="http://localhost:8080"

######### Transcription Sentiment Analysis API #########
VUE_APP_TRANSCRIPTION_SENTIMENT_API_BASE_URL=
# VUE_APP_TRANSCRIPTION_SENTIMENT_API_BASE_URL="http://localhost:8001/audio-transcript-sentiment"

######### Facial sentiment analysis API #########
VUE_APP_FACIAL_SENTIMENT_API_BASE_URL=
# VUE_APP_FACIAL_SENTIMENT_API_BASE_URL="http://localhost:5000"

######### Firebase emulator settings #########
VUE_APP_USE_AUTH_EMULATOR="false"
VUE_APP_USE_FIRESTORE_EMULATOR="false"
VUE_APP_USE_FUNCTIONS_EMULATOR="false"
VUE_APP_USE_STORAGE_EMULATOR="false"

######### Firebase emulator host #########
VUE_APP_FIREBASE_EMULATOR_HOST="localhost"
VUE_APP_FIRESTORE_EMULATOR_PORT="8081"
VUE_APP_AUTH_EMULATOR_PORT="9099"
VUE_APP_FUNCTIONS_EMULATOR_PORT="5002"
VUE_APP_STORAGE_EMULATOR_PORT="9199"

######### LiveKit (dev) #########
VUE_APP_LIVEKIT_ENABLED=true
VUE_APP_LIVEKIT_URL=ws://localhost:7880
VUE_APP_LIVEKIT_TOKEN_SERVER_URL=http://localhost:3001
