.DS_Store
node_modules
package-lock.json
/dist
/.firebase
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
firestore-debug.log
/docs

# local env files
.env.local
.env.*.local
.env
.env.production
.env.development

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
database-debug.log
ui-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Ignore the playwright test screenshots and video
/playwright/output
debug-screenshot.png
